<div class="auth-page">
    <div class="auth-page__content-block">
      <div class="auth-page__content-wrapper">
        <mat-tab-group class="auth-page__group">
          <mat-tab label="Login">
            <h4 class="auth-page__group-title">Welcome!</h4>
            <div class="auth-page__border-wrapper">
              <div class="auth-page__border-line"></div>
              <div class="auth-page__border-line"></div>
            </div>
  
            <app-login-form (submitLoginForm)="submitLoginForm()"></app-login-form>
  
          </mat-tab>

          <mat-tab label="New User">
            <h4 class="auth-page__group-title">Hello!</h4>
            <p class="auth-page__group-sub-title">Create your account</p>
  
            <app-signup-form (submitSignupForm)="submitSignupForm()"></app-signup-form>
  
            <div class="auth-page__border-wrapper">
              <div class="auth-page__border-line"></div>
              <div class="auth-page__border-line"></div>
            </div>
  
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="auth-page__logo">
      <div class="auth-page__logo-wrapper">
        <!-- <img class="auth-page__logo-img" src="" alt="logo"> -->
        <h6 class="auth-page__logo-title">Infra-On-Click</h6>
      </div>
    </div>
  </div>
  
