.example-spacer {
    flex: 1 1 auto;
  }

.container-control{
    width: 100%;
    padding: 5px;
}

.container-control > * {
    width: 100%;
}

div.container {
    margin: 0px 40px;
}

.fill-remaining-space{
    flex: 1 1 auto;
}

form.normal-form{
    margin:10px;
}

.cust-title{
    font-size: 17px;
}
