<!-- Temporary Header only -->
<mat-toolbar>
    <span>FIS | INFRA ON ICE</span>
</mat-toolbar>

<!-- Resource Page Panel -->
<mat-card>
    <mat-card-header>
        <mat-card-title>Resource Selection</mat-card-title>
    </mat-card-header>
</mat-card>
<mat-card>

<form [formGroup]="service.form">
    <mat-card-header>
        <mat-card-title class="cust-title">Default Properties</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="container-control">
                
                <mat-form-field appearance="fill" matTooltip="Cloud Platform" matTooltipPosition="after">
                    <mat-label>Cloud Platform*</mat-label>
                    <mat-select formControlName="cloudPlatform">
                        <mat-option value="Microsoft Azure">Microsoft Azure</mat-option>
                        <mat-option value="Amazon Web Service">Amazon Web Service</mat-option>
                        <mat-option value="Google Cloud">Google Cloud</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" matTooltip="Resource Group Name" matTooltipPosition="after">
                    <mat-label>Resource Group Name*</mat-label>
                    <input formControlName="resourceGroupName" matInput>
                </mat-form-field>

                <mat-form-field appearance="fill" matTooltip="Location" matTooltipPosition="after">
                    <mat-label>Location*</mat-label>
                    <mat-select formControlName="location">
                        <mat-option value="Placeholder">Place Holder</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="container-control">

                <mat-form-field appearance="fill" matTooltip="Virtual Network Address Space" matTooltipPosition="after">
                    <mat-label>Virtual Network Address Space</mat-label>
                    <input formControlName="virtualNetworkAddressSpace" matInput>
                </mat-form-field>

                <mat-form-field appearance="fill" matTooltip="Subnet Address Prefix" matTooltipPosition="after">
                    <mat-label>Subnet Address Prefix</mat-label>
                    <input formControlName="subnetAddressPrefix" matInput>
                </mat-form-field>

                <mat-form-field appearance="fill" matTooltip="IP Adress Allocation" matTooltipPosition="after">
                    <mat-label>IP Address Allocation</mat-label>
                    <input formControlName="ipAddressAllocation" matInput>
                </mat-form-field>

            </div>
        </mat-grid-tile>
    </mat-grid-list>

</form>
</mat-card>
<mat-card>
<mat-card-header>
    <mat-card-title class="cust-title">Resources</mat-card-title>
</mat-card-header>
<mat-divider></mat-divider>
<br>
<h1>Under Construction</h1>
</mat-card>